.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.outer-btn {
    width: 320px;
    height: 80%;
    background-color: #2fbaff;
    mix-blend-mode: overlay;

    -webkit-filter: drop-shadow(0px 0px 8px #fff);
    -o-filter: drop-shadow(0px 0px 8px #fff);
    filter: drop-shadow(0px 0px 8px #fff);
}

.btn:hover {
    cursor: pointer;
}

.chill-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
}

.inner-chill {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    -webkit-filter: drop-shadow(0px 0px 8px #0b89f0);
    -o-filter: drop-shadow(0px 0px 8px #0b89f0);
    filter: drop-shadow(0px 0px 8px #0b89f0);

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chill-logo {
    width: 70%;
}

.p-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
