.outer-btn-pressed {
    width: 320px;
    height: 80%;
    background-color: #d4d4d4;
    mix-blend-mode:color;

    -webkit-filter: drop-shadow(0px 0px 8px #fff);
    -o-filter: drop-shadow(0px 0px 8px #fff);
    filter: drop-shadow(0px 0px 8px #fff);
}

.outer-btn-pressed:hover {
    cursor: pointer;
}

.chill-btn-pressed {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
}

.chill-btn-pressed:hover {
    cursor: pointer;
}

.inner-chill-pressed {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    -webkit-filter: drop-shadow(0px 0px 8px #616161);
    -o-filter: drop-shadow(0px 0px 8px #616161);
    filter: drop-shadow(0px 0px 8px #616161);

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chill-logo-pressed {
    width: 70%;
    -webkit-filter: brightness(40%);
    -o-filter: brightness(40%);
    filter: brightness(40%);
}
